<!-- <!DOCTYPE html>
<html>
<head>
  <title>Book Recommendation</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/style.css')}}">
</head>
<body>
   
   <div id="first-page">
    <img src="{{url_for('static',filename='IMG/book57.jpg')}}" alt="" class="src">
     <h1>Book<span> Recommendation</span> System</h1> -->
<!-- <h1>Book<span>W</span>hiz</h1> -->
<!-- <h2>Are You Aware of Academics?</h2>
    <p>We give some reference books for your subjects</p>
    <a href="{{url_for('form')}}">    
    <button>Search</button></a>
  </div>
  

</body>
</html>  -->

<!DOCTYPE html>
<html>

<head>
    <title>Book Recommendation</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='CSS/style.css')}}">
</head>

<body>
    <div id="first-page">
        <img src="{{url_for('static', filename='IMG/book57.jpg')}}" alt="" class="src">
        <h1>Book<span>W</span>hiz</h1>
        <h2>Are You Aware of Academics?</h2>
        <p>We give some reference books and projects for your subjects</p>
        <div class="button-container">
            <a href="{{url_for('form')}}">
                <button>Search Books</button>
            </a>
            <a href="{{url_for('project_form')}}">
                <button>Search Projects</button>
            </a>
        </div>
    </div>
</body>

</html>